# Next.js build output
.next/
out/ 
# if you're using `next export`


# Ignore node_modules
node_modules/

#Uncomment this next two line after final deployment of project
#usefulFunction/
#generated/
# Ignore .env files
.env